## write a program to check even or odd

### method 1

In [1]:
def check(num):
    return num%2==0

In [2]:
check(4)

True

In [3]:
check(3)

False

### method 2

In [13]:
def number(n):
    if n%2==0:
        print(n,"is even")
    else:
        print(n,"is odd")

In [14]:
number(5)

5 is odd

In [15]:
number(8)

8 is even

### method 3:  By using lambda function

In [7]:
x=lambda num:"%d is even." %(num) if num%2==0 else "%d is odd." %(num)

In [8]:
x(4)

'4 is even.'

In [9]:
x(9)

'9 is odd.'

### By using map function.

In [10]:
outp=list(map(x,[i for i in range(1,21)]))

In [11]:
outp

['1 is odd.',
 '2 is even.',
 '3 is odd.',
 '4 is even.',
 '5 is odd.',
 '6 is even.',
 '7 is odd.',
 '8 is even.',
 '9 is odd.',
 '10 is even.',
 '11 is odd.',
 '12 is even.',
 '13 is odd.',
 '14 is even.',
 '15 is odd.',
 '16 is even.',
 '17 is odd.',
 '18 is even.',
 '19 is odd.',
 '20 is even.']

### In method 2 we define number function already

In [16]:
h=list(map(number,[41,23,65,66,84,85,71,92,100]))

41 is odd
23 is odd
65 is odd
66 is even
84 is even
85 is odd
71 is odd
92 is even
100 is even

In [18]:
m=list(map(number,[i for i in range(50,61)]))

50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even

### Write a program to square a numbers in list.
- list1=[4,3,2,1]

- output will be [16,9,4,1]

In [19]:
def square(num):
    return num**2

In [20]:
square(4)

16

In [21]:
square(3)

9

In [25]:
list1=[4,3,2,1]
square=[]
for i in list1:
    square.append(i**2)
print(square)

[16, 9, 4, 1]

In [34]:
def abc(n):
    squar=[]
    
    for i in n:
        squar.append(i**2)
    return squar
abc([4,3,2,1])

[16, 9, 4, 1]

In [39]:
result=lambda num:num**2

In [40]:
result(5)

25

In [41]:
result(4)

16

In [59]:
num=[4,3,2,1]
print(list(map(lambda a:a**2,num)))

[16, 9, 4, 1]

In [60]:
num2=[1,2,3,4,5]
print(list(map(lambda b:b**2,num2)))

[1, 4, 9, 16, 25]

## Write a program to convert celcius to farenheit.

- Formula:- F=(9/5)*celcius+32

In [1]:
tem=[('Pune',32),('Solapur',40),('Tuljapur',23),("Osmanabad",24),('Mumbai',35),('Satara',28)]

In [2]:
cel_to_faren=lambda data:(data[0],(9/5)*data[1]+32)

In [3]:
result=list(map(cel_to_faren,tem))

In [4]:
result

[('Pune', 89.6),
 ('Solapur', 104.0),
 ('Tuljapur', 73.4),
 ('Osmanabad', 75.2),
 ('Mumbai', 95.0),
 ('Satara', 82.4)]

# Convert farenheit to celcius

- Formula:-  C=(5/9)*(F-32)

In [9]:
f_to_c=lambda result:(result[0],(5/9)*(result[1]-32))

In [16]:
list(map(f_to_c,result))

[('Pune', 32.0),
 ('Solapur', 40.0),
 ('Tuljapur', 23.000000000000004),
 ('Osmanabad', 24.000000000000004),
 ('Mumbai', 35.0),
 ('Satara', 28.000000000000004)]

In [11]:
x=20.55555552
format(x,'.2f')
print(x)

20.55555552

In [13]:
print('%.2f'%x)

20.56

In [25]:
result1=list(map(f_to_c,result))
print('%.2f'%result1)

TypeError: must be real number, not list

# Write a program to calculate area of circle for different radius.
- Formula:- 
            Area of circle=pi*r**2
            r=Radius
            pi=3.14

### Method 1: Normal Way

In [26]:
import math              # First we need to import math module.
radii=[2,3,4,5,6,7,8,9]  # list of radius
r=[]                     # create empty list with variable r.
for i in radii:          # to access each element in radii use for loop.
    result=math.pi*i**2   # formula to calculate area of circle.
    r.append(result)      # append result of each radius in r list.
print(r)                   # print r.

[12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483, 113.09733552923255, 153.93804002589985, 201.06192982974676, 254.46900494077323]

### Method 2: Using Function

In [27]:
import math
def area(r):
    """
    Calculate area of circle with radius r.
    
    Formula:- area of circle=pi*r**2
    
    """
    result=math.pi*r**2
    return result

In [28]:
area(2)

12.566370614359172

In [33]:
print("%.2f"%area(2))  # format(value,".nf")  where n=number of decimal places you want.

12.57

In [29]:
area(5)

78.53981633974483

In [32]:
print("%.2f"%area(5))

78.54

In [34]:
help(area)

Help on function area in module __main__:

area(r)
    Calculate area of circle with radius r.

    Formula:- area of circle=pi*r**2

In [35]:
print(dir())

['In', 'Out', '_', '_16', '_28', '_29', '_30', '_4', '_6', '_7', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'area', 'cel_to_faren', 'exit', 'f_to_c', 'get_ipython', 'i', 'math', 'quit', 'r', 'radii', 'result', 'result1', 'tem', 'x']

### Method 3:Using lambda and map.
- syntax for lambda:-  
                       lambda variable:expression
- syntax for map:-
                     map(function,iterable or variables or data types)

In [41]:
r=[2,3,4,5,6,7,8,9,10]

In [42]:
area_of_circle=lambda r:(math.pi*r**2)

In [43]:
result2=list(map(area_of_circle,r))

In [44]:
result2

[12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483,
 113.09733552923255,
 153.93804002589985,
 201.06192982974676,
 254.46900494077323,
 314.1592653589793]

In [45]:
print("%.2f"%result2)

TypeError: must be real number, not list

In [49]:
print(round(i,2) for i in result2)            # to solve this issue we need to mention result in list or tuple or set.

<generator object <genexpr> at 0x000001BEA21EF4A0>

In [50]:
print(tuple(round(i,2) for i in result2))

(12.57, 28.27, 50.27, 78.54, 113.1, 153.94, 201.06, 254.47, 314.16)